@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #d1e7ff;
  --color-secondary: #b0c4de;
  --color-accent: #add8e6;
  --color-neutral: #f0f8ff;
  --color-base-100: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #ffffff;
}

.controlled-horizontal-image {
  width: 10000px; 
  height: 400px;
  object-fit: cover;
}

.controlled-image {
  width: 100%;
  height: auto;
  max-height: 600px; 
  object-fit: cover;
}

.slick-prev:before, .slick-next:before {
  color: black; /* Cambia el color de las flechas de navegación del carrusel */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.image-container {
  position: relative;
  cursor: pointer;
}

.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  color: white;
  font-size: 24px;
  transition: opacity 0.3s;
  opacity: 0;
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container img {
  transition: opacity 0.3s;
}

.container {
  @apply mx-auto px-4;
}

.footer {
  @apply mt-16;
}

.text-pastel-blue {
  color: #AEC6CF; 
}

.bg-pastel-blue {
  background-color: #AEC6CF;
}

.text-pastel-cream {
  color: #FFFDD0;
}

.bg-pastel-cream {
  background-color: #FFFDD0;
}

.text-pastel-pink {
  color: #FFB6C1; 
}

.bg-pastel-pink {
  background-color: #FFB6C1;
}

.bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, #FFB6C1, #FFFDD0, #AEC6CF);
}
