@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #d1e7ff;
  --color-secondary: #b0c4de;
  --color-accent: #add8e6;
  --color-neutral: #f0f8ff;
  --color-base-100: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.controlled-horizontal-image {
  width: 10000px; 
  height: 400px;
  object-fit: cover;
}

.controlled-image {
  width: 100%;
  height: auto;
  max-height: 600px; /* Puedes ajustar este valor según tus necesidades */
  object-fit: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
